.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  /* text-align: center; */
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-links {
  font-size: 40px;
  color: gray;
  opacity: 0.6;
  display: flex;
  padding: 0px 10px;
  overflow: hidden;
}

.footer-links:hover {
  opacity: 1;
  color: rgb(36, 35, 35);
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer p {
  justify-content: flex-end;
}

#wine-glass {
  opacity: 1;
  color: black;
}
